div{
  width:150px;
  height: 150px;
  display: inline-block;
}
div:hover{
  background: rgb(226, 158, 12);
}
.one{
  background: red;
  
}
.two{
  background: blue;
}
.three{
  background: yellow;
  transition-property:background,border-radius;
  transition-duration:4s,2s;
  transition-delay:2s; 
}
.three:hover{
  border-radius: 50%;
}