div{
  width:150px;
  height: 150px;
  display: inline-block;
}
.one{
  background: red;
  transform: rotate(25deg)
}
.two{
  background: blue;
  transform: rotate(30deg)
}
.three{
  background: yellow;
  transform: rotateX(360deg)

  
}